&pinctrl {
    spim2_default: spim2_default {
        group1 {
            pinmux = <SPIM2_MISO_GPIO5>,
                     <SPIM2_SCLK_GPIO6>,
                     <SPIM2_MOSI_GPIO7>;
        };
    };
};


/{
	chosen {
		zephyr,display = &ssd1331;
	};

    aliases {
        spibus = &spi2;
    };

    lvgl_displays: my-displays {
            compatible = "zephyr,displays";
            displays = <&ssd1331>;
            status = "okay";
    };

	mipi_dbi1 {
        compatible = "zephyr,mipi-dbi-spi";

        spi-dev = <&spi2>;

        dc-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;

        write-only;

        #address-cells = <1>;
        #size-cells = <0>;

        ssd1331: ssd1331@0 {
            compatible = "solomon,ssd1331";
            reg = <0>;
            width = <96>;
            height = <64>;

            display-offset = <0>;
            start-line = <0>;
            multiplex-ratio = <63>;

            phase-length = <0x31>;
            oscillator-freq = <0xF0>;

            color-coding = "MIPI_DBI_MODE_RGB565";
            mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
            mipi-max-frequency = <4000000>;

            precharge-time-a = <0x70>;
            precharge-time-b = <0x70>;
            precharge-time-c = <0x70>;

            precharge-voltage = <0x3A>;
            vcomh-voltage = <0x20>;

            current-att = <0x08>;
            remap-value = <0x72>;
        };
	};
};

&spi2 {
    status = "okay";
/*    cs-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>; */
    clock-frequency = <400000>;
    pinctrl-0 = <&spim2_default>;
    pinctrl-names = "default";

};
